<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">TestApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <a class="nav-link" href="/">Clients <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/import">Import<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/export">Export<span class="sr-only">(current)</span></a>
                </ul>
            </div>
    </nav>
    
</header>
<hr/>