<!DOCTYPE html>
<% include ../partials/head %>

<body class="container">
    <% include ../partials/header %>
    <div>
        <h3>Push the button to get XML:</h3>
        <button onclick="location.href = 'api/export';" id="btn_export" name="btn_export" type="button" class="btn btn-outline-dark btn-lg btn-block ">Get XML</button>
    </div>
</body>